// Sass for videojs-social-media
.video-js {
  .vjs-menu-social {
    z-index: 100;
    position: absolute;
    display: none;
    top: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    font-size: 3em;

    &.show {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    & .vjs-icon {
      position: relative;
      height: 2em;
      width: 2em;
      margin: 0 1rem 0 0;
      cursor: pointer;
      opacity: .8;
      transition: transform 200ms;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.2em;
      background: #36465d;

      &:hover{
        opacity: 1;
        transform: scale(1.07);
        &:before {

        }
      }

      &.vjs-icon--facebook {
        background: #3b5998;
      }
      &.vjs-icon--twitter{
        background: #0084b4;
      }
      &.vjs-icon--linkedin{
        background: #0077B5;
      }
      &.vjs-icon--pinterest{
        background: #BD081C;
      }
      &.vjs-icon--tumblr{
        background: #36465d;
      }
      &.vjs-icon--link{
        background: #36465d;
      }

    }

  }

  .vjs-button-social {
    z-index: 110;
    transition: all .3s;
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    color: white;

    padding: 5px;
    box-sizing: content-box;
  }

  &.vjs-user-active .vjs-button-social {
    opacity: 1;
    visibility: visible;
  }

  &.vjs-paused .vjs-button-social {
    opacity: 1;
    visibility: visible;
  }

  // &.vjs-playing .vjs-button-social,
  &.vjs-user-inactive .vjs-button-social {
    opacity: 0;
    visibility: hidden;
  }

}
