// Sass for videojs-social-media
.video-js {
  .vjs-menu-social {

    z-index: 100;

    position: absolute;
    display: none;
    top: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    font-size: 3em;

    &.show {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    & span {
      position: relative;
      width: 4em;
      -webkit-transform: translate(50%, 50%);
      transform: translate(50%, 50%);

      &:before {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background: gray;
        height: 2em;
        width: 2em;
        border-radius: 15%;

        transition: all .2s;
      }
      &:hover:before {
        color: gray;
        background: #fff;
        cursor: pointer;
        //border-color: gray;
        //transform: translate(-50%, -50%) scale(1.05);
        //-webkit-transform: translate(-50%, -50%) scale(1.05);

      }
    }

    &:not(.show) + .vjs-button-social:before {
      content: "\f10f";
    }
  }

  .vjs-menu-social span.vjs-icon-facebook:before {
    background: #3b5998;
    //border: 3px solid #2d4373;
  }
  .vjs-menu-social span.vjs-icon-twitter:before {
    background: #0084b4;
    //background: red;
    //border: 3px solid #005f81;
  }

  .vjs-menu-social span.vjs-icon-linkedin:before {
    background: #0077B5;
    //background: red;
    //border: 3px solid #005f81;
  }

  .vjs-menu-social span.vjs-icon-pinterest:before {
    background: #BD081C;
  }

  .vjs-menu-social span.vjs-icon-tumblr:before {
    background: #36465d;
  }

  .vjs-menu-social span.vjs-icon-gplus:before {
    background: #d34836;
  }




  .vjs-button-social {

    z-index: 110;

    transition: all .3s;
    position: absolute;
    top: .5em;
    right: .5em;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    color: white;
    font-size: 30px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    box-sizing: content-box;

    &:not(.open):before {
      content: "\f10f";
      width: 1em;
    }

    &.open:before {
      background: none;
    }

    &:before {
      width: 2em;
      border-radius: 50%;
      padding: .2em;
      background: black;
      content: "\f115";
      font-family: VideoJS;
      position: absolute;
      top:0;
      left:0;
    }
    &:hover:before {
      color: gray;
    }
  }

  &.vjs-user-inactive .vjs-button-social {
    opacity: 0;
    visibility: hidden;
  }

  &.vjs-user-active .vjs-button-social {
    opacity: 1;
    visibility: visible;
  }

  &.vjs-paused .vjs-button-social {
    opacity: 1;
    visibility: visible;
  }

}
